.card {
	width: 200px;
	height: 35vh;
	margin-bottom: 200px;
	opacity: 0.5;
	cursor: pointer;
	transition: 0.5s;

	&:hover {
		opacity: 1;
	}
	p {
		padding: 10px 0px;
		border-top: 1px solid rgba(var(--textCode), 0.7);
		margin: 20px 0px;
	}
}

.card.horizontal {
	width: 46%;
	height: 10vmax;
	display: flex;
	margin-bottom: 80px;
	border: 1px solid rgba(var(--textCode), 0.6);

	div {
		width: 40%;
		height: 100%;
	}
	p {
		width: 60%;
		padding: 20px;
		border: none;
		margin: 0;
		font-size: 1rem;
	}
}
