.searchBar {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	position: relative;

	input {
		width: 80px;
	}

	button {
		border: none;
		background: transparent;
		cursor: pointer;
		color: inherit;
	}
}
