.text {
	color: #777;
	font-family: var(--font-nanum);
	font-weight: 400;
	font-size: 1rem;

	&:hover {
		color: var(--point);
	}

	&.on {
		color: var(--point);
	}

	a {
		font-size: inherit;
		color: inherit;
		font-family: inherit;
		font-weight: inherit;
		&:hover {
			color: var(--point);
		}
	}

	&.logo {
		font-family: var(--font-orbitron);
		font-weight: 600;
		font-size: 1.8rem;
	}

	&.title1 {
		font-size: 1.2rem;
	}

	&.slogan {
		color: var(--point);
		font-size: 20vw;
	}
}

.text.button {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid var(--text);
	background: transparent;
	font-size: 0.7rem;
	color: var(--text);
	cursor: pointer;
	opacity: 0.5;

	&:hover {
		border: 1px solid var(--point);
		color: var(--point);
		opacity: 1;
	}
	&.on {
		border: 1px solid var(--point);
		color: var(--point);
		opacity: 1;
	}
}
