.detail {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.upper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		> h1 {
			width: auto !important;
		}
		.btnFavorite {
			// flex 속성에서 요소 좌우 배치 시, 제일 큰 높이 요소를 기점으로 나머지 요소도 같이 높이가 늘어나므로 (stretch),
			// 임의로 늘어나버린 요소에 height: fit-content; 부여하면 stretch 속성을 무시하고 자신의 원래 높이대로 설정됨.
			height: fit-content;
			font-size: 1rem;
			padding: 8px 20px;
		}
	}
	.picFrame {
		width: 100%;
		height: 50vh;
		position: relative;
	}

	.detailTable {
		width: 45%;
		tr {
			th th:nth-of-type(1) {
				width: 5%;
			}
			td:nth-of-type(1) {
				width: 5%;
			}
		}
	}

	.detailList {
		width: 45%;
	}
}
