.findRecipe {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.category {
		margin-bottom: 20px;
		width: 100%;
	}
	.foodItem {
		width: 30%;
		margin-bottom: 120px;
	}
}

@media screen and (max-width: $tabletB) {
	.findRecipe {
		.foodItem {
			width: 30%;
		}
	}
}

@media screen and (max-width: $tabletS) {
	.findRecipe {
		.foodItem {
			width: 47%;
		}
	}
}

@media screen and (max-width: $mobile) {
	.findRecipe {
		.foodItem {
			width: 100%;
		}
	}
}
