.visual {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;

	.swiper {
		width: 100%;
		height: 100vh;
		padding: 20vh 0;

		.swiperSlide {
			> div {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
