:root {
	--text: #fff;
	--textCode: 255, 255, 255;
	--point: orange;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text);
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
	outline: 0;
}
